@font-face
{
    font-family: _Font;
    src: url('../Font/NotoSansCJK-Thin.ttc');
}
*{
    background:black;
    color: white;
    font-family: _Font;
}
.content{

}
.header{

}
.title{
    font-size: 1rem;
    background-image: url("../Image/start.png");
    background-position: left center;
    background-repeat: no-repeat;
    text-indent: 36px;
    background-size: 32px 32px;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    background: darkorange;
    width: 100%;
    transition: all 0.3s;
}
